/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #52514c;
  font-size: 1em;
  line-height: 1.4;
}

body{
  color: #52514c;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.container-fluid.no-gutters {
  padding: 0;
}

/* 
================================================================
===== Custom Styles ============================================
================================================================
*/

/* Nav Bar */
.navbar {
  padding: 1rem;
}

.bg-light {
  background-color: transparent!important;
}

.navbar-light .navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: #52514c;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  background-color: #c51732;
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  background-color: #e60024;
  color: #ffffff;
}

.logo {
  max-width: 3.5rem;
}

/* Title Box */
.jumbotron.title h4, .jumbotron.title h1 {
  font-weight: bold;
  margin-top: 3.5rem;
  color: #ffffff;
}

.jumbotron .lead {
  font-size: 1.7rem;
  font-weight: initial;
}

.microscope {
  height: 300px;
  background: url(../img/microscope.jpg) bottom center;
  background-size: cover;
}

.coffee {
  background: url(../img/coffee.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.typing {
  background: url(../img/typing.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.book {
  background: url(../img/book.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.coffee h2 {
  color: #ffffff;
}

.black {
  background-color: #000000;
}

/* Accordion */
.card {
  min-height: 14rem;
}

.card-header {
  background-color: #000000;
  padding: 0.2rem 0.3rem;
}

.card-header .btn-link {
  color: #ffffff;
}

.yellowHighlight {
  border-bottom: 2px solid #ffd401;
  width: 90px;
  display: flex;
  margin-bottom: 5px;
}

/* Footer */
footer {
  background-color: #000000;
  padding: 80px 0;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer a:hover, footer a:focus {
  color: #ffffff;
}

.circle {
  font-size: 3rem;
  background-color: #cccccc;
  border-radius: 60px;
  width: 70px;
  height: 70px;
  color: #ffffff;
  margin: 0 auto;
}

.circle-icon {
  max-width: 5rem;
}

.circle.person {
  background: url(../img/person.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.circle.graduation {
  background: url(../img/graduation.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.circle.briefcase {
  background: url(../img/briefcase.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Cards */
.card{
  border-radius: 15px;
  overflow: hidden;
}

.card-body {
  padding: 0
}

.card-title {
  background-color: #bda9ab;
  padding: 1.3rem 1rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0;
}

.card-subtitle {
  background-color: #efefef;
  color: #000000;
  padding: 1.3rem 1rem;
  font-size: 1.7rem;
}

.card-text {
  padding: 1.3rem 1rem;
}

/* Button */
.call-to-action {
  background-color: #c51732;
  color: #ffffff;
  padding: 1.2rem 2.2rem;
  border-radius: 1.1rem;
}
.call-to-action:hover, .call-to-action:focus {
  color: #cecece;
  background-color: #e60024;
}

/* Backgrounds */
.grey {
  background-color: #f7f7f7;
}

.white {
  color: #ffffff;
}